.border{
    border: solid 2px black;
    width: 22%;
}


.align{
    display: flex;
    justify-content: center;
}

.titre{
    color: aquamarine;
    font-size: 50px;
    background-color: red;
    
}